#typed{
		font-family: Helvetica;

}
.typed-cursor {
        opacity: 1;
        animation: blink .7s infinite;
    }

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body{
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0 10px;
	display: block;
}
.center-menu-bar
{
	margin:auto;
	position: relative; 
}

.img-square {
	width:30%;
	 height:30%;
	 border-radius:50%;
	 overflow:hidden;

}
.name
{
	font-weight: bold;
	#font-size:100%;
}
