#typed{
		font-family: Helvetica;
}
.typed-cursor {
        opacity: 1;
        animation: blink .7s infinite;
    }

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*
{
	font-family: Helvetica;

}
body{
	/* line-height:1.6; */
	/* color:#444; */
	font-size:200%;
	/* padding:0 10px; */

}
.center-menu-box
{
	position: fixed;
	/* display: block ; */
	/* margin-top: 20%;
	margin-left: 40%; */
	top: 50%;
	left: 43%;
	margin-top: -50px;
  margin-left: -100px;

}
.buttons
{
	display: flex;
	justify-content: center;
	font-style: italic;
	font-size: 60%;
	position: fixed; 
}
.buttons:hover
{
}

/* .img-square {
	width:20%;
	 height:20%;
	 border-radius:50%;
	 overflow:hidden;
} */
.name
{
	font-weight: bold;
	#font-size:100%;
	color:#00000;

}
